.home-page-container {
  align-items: center;
  background-image: url(/assets/coffee_on_table.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  height: 90vh;
  justify-content: center;
  margin: auto;
  max-height: 6 00px;
  width: 90vw;
}

.order-now {
}

.order-now-button {
  color: white;
}